input[type=text], textarea[type=text] {
    text-align: center;
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: large;
}


#buttondiv, #inputdiv{
    display: flex;
    justify-content: center;
}

#submit {
    width: 50%;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#left {
    background-color: blue;
    color: white;
}
#right {
    background-color: red;
    color: white;
}

.text {

    background: #fff;

    position: relative;
    display: flex;
  
}
p {
    margin: 0;
}
h1 {
    user-select: none;
    color: green;
}
.menu {
    display: none;
    position: absolute;
    background: #a4a4a4;

}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}